{% set tag_type = segment.subtype|default('section') %}
{% set attr_id = segment.attributes.id ?: 'g-' ~ segment.id %}
{% set attr_class = segment.attributes.class %}
{% set attr_extra = '' %}
{% set boxed = segment.attributes.boxed %}
{% if boxed is not null %}
    {% set boxed = boxed|trim == '' ? gantry.config.page.body.layout.sections : boxed %}
{% endif %}


{% set attr_background = segment.attributes.background ? segment.attributes.background|trim|e : false %}
{% set attr_backgroundOverlay = segment.attributes.backgroundOverlay %}
{% if attr_backgroundOverlay == '' %}
    {% set attr_backgroundOverlay = "rgba(0, 0, 0, 0)" %}
{% endif %}

{% set attr_backgroundAttachment = segment.attributes.backgroundAttachment %}
{% set attr_backgroundRepeat = segment.attributes.backgroundRepeat %}
{% set attr_backgroundPosition = segment.attributes.backgroundPosition %}
{% set attr_backgroundSize = segment.attributes.backgroundSize %}



{% if segment.attributes.extra %}
    {% for attributes in segment.attributes.extra %}
        {% for key, value in attributes %}
        {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set html %}
    {% if segment.children %}
        {% for segment in segments %}
            {% include '@nucleus/layout/' ~ segment.type ~ '.html.twig' with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
{% endset %}

{% if segment.attributes.sticky or html|trim %}
    {% if boxed is not null and (boxed == 0 or boxed == 2) %}
        {% set html %}
        <div class="g-container">{{ html|raw }}</div>
        {% endset %}
    {% endif %}

    {% set html %}
    {% if boxed == 2 %}{% set attr_class = attr_class ~ ' g-flushed' %}{% endif %}
    {% set attr_class = attr_class ? ' class="' ~ attr_class|trim ~ '"' %}
    <{{ tag_type }} id="{{ attr_id }}"{{ attr_class|raw }}{{ attr_extra|raw }}>
        {% if attr_background %}
            <div class="section-background" style="
            background-image: 
                linear-gradient( {{ attr_backgroundOverlay }}, 
                                {{ attr_backgroundOverlay }} 
                ), 
                url({{ url(attr_background) }}); 

            {% if attr_backgroundAttachment %}    
                background-attachment: {{ attr_backgroundAttachment }}; 
            {% endif %}
            
            {% if attr_backgroundRepeat %}                    
                background-repeat: {{ attr_backgroundRepeat }}; 
            {% endif %}

            {% if attr_backgroundPosition %}
                background-position: {{ attr_backgroundPosition }}; 
            {% endif %}
            
            {% if attr_backgroundSize %}
                background-size: {{ attr_backgroundSize }};
            {% endif %}
            ">
        {% endif %}   
        {{ html|raw }}
        {% if attr_background %}
            </div>
        {% endif %}    
    </{{ tag_type }}>
    {% endset %}

    {% if boxed == 1 %}
    <div class="g-container">{{ html|raw }}</div>
    {% else %}
    {{ html|raw }}
    {% endif %}
{% endif %}


{# SET VARIABLES#}
{# in conjuction with /custom/admin/blueprints/layout/section.yaml #}
{# Original:  /media/gantry5/engines/nucleus/teplates/layout/section #}